Django==1.4.2
South==0.7.4
cssselect==0.7.1
dj-database-url==0.2.1
django-tastypie==0.9.11
johnny-cache==1.4
lxml==3.0.1
mimeparse==0.1.3
pyquery==1.2.2
python-dateutil==1.5
python-memcached==1.48
requests==0.14.2
wsgiref==0.1.2
